In [2]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
 # Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Alyssa\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [5]:
# Visit Mars News Site
url = "https://redplanetscience.com/"
browser.visit(url)

In [7]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

initial = soup.select_one('div.list_text')

In [8]:
initial.find('div', class_='content_title')

In [9]:
news_title = initial.find('div', class_='content_title').get_text()
news_title

"NASA Engineers Checking InSight's Weather Sensors"

In [12]:
news_p = initial.find('div', class_='article_teaser_body').get_text()
news_p

'An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.'

In [13]:
# Visit Image URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [14]:
full_image = browser.find_by_tag('button')[1]
full_image.click()

In [15]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [16]:
img = soup.find('img', class_='fancybox-image').get('src')
img

'image/featured/mars1.jpg'

In [17]:
img_url = f'https://spaceimages-mars.com/{img}'
img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [18]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [19]:
df.columns = ['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df.head()

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km

In [20]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
#hemispheres
url = 'https://marshemispheres.com/'
browser.visit(url)

In [22]:
hemi_img_urls = []

links = browser.find_by_css('a.product-item img')

for i in range(len(links)):
    hemisphere = {}

    browser.find_by_css('a.product-item img')[i].click()

    sample = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample['href']

    hemisphere['title'] = browser.find_by_css('h2.title').text

    hemi_img_urls.append(hemisphere)

    browser.back()

In [23]:
hemi_img_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [24]:
browser.quit()